@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    font-family: 'Roboto',sans-serif;
}

.modal-content{
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
}
.form-title{
    font-size: 25px;
    padding-bottom: 10px;
}
.form-group input{
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 25px;
}
.form-input button{
    width: 20%;
    margin: 10px 0px 20px;
}
.btn-sucess{
    background-color: #2c2c2c;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px 14px;
    border: 1px solid white;
}
.btn-sucess:hover{
    background-color: white;
    border: 1px solid #2c2c2c;
    color: #2c2c2c;
}

select > option{
    font-size: 15px;
}
