@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    font-family: 'Roboto',sans-serif;
}

.btn-sucess{
    background-color: #2c2c2c;
    color: white !important;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px 14px;
    border: 1px solid white;
}
.btn-sucess:hover{
    background-color: white;
    border: 1px solid #2c2c2c;
    color: #2c2c2c;
}

table img{
    width: 25px;
    margin: 0px 5px
}

table tr:hover{
    background-color: #c0c0c0;
    color: black;
}
.img-commands{
    width: 180px;
}
